* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
}

.title{
  height: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 0.5vh;
}

.left{
  width: 69%;
  padding: 0.5vw;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editor-area{
  height: 95vh;
}

.operating-area{
  width: 100%;
  display: flex;
  justify-content: right;
}

button{
  margin: 5px;
}

.right{
  height: 100vh;
  padding: 0.5vw;
  width: 30%;
}

.output-area {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  width: 100%;
  height: 95%;
  overflow-y: auto;
  white-space: pre
}

.output-area > div {
  margin-bottom: 1vh;
}